services:
  pixelaw-core:
    image: "ghcr.io/pixelaw/core:latest"
    platform: linux/x86_64
    container_name: pixelaw-core
    environment:
      - DISABLE_FEE=true
      - DISABLE_VALIDATE=true
      - RUST_LOG=info,hyper=off
      - INVOKE_MAX_STEPS=4000000
      - RPC_URL=http://127.0.0.1:5050
      - TORII_URL=http://127.0.0.1:8080
      - RELAY_URL=http://127.0.0.1:8080
      - PUBLIC_SERVER_URL=http://127.0.0.1:3000
      - PUBLIC_RPC_URL=http://127.0.0.1:5050
      - PUBLIC_TORII_URL=http://127.0.0.1:8080
      - PUBLIC_RELAY_URL=http://127.0.0.1:8080
      - DOJO_WORLD_ADDRESS=0x022b2a8f75422d28500cb40b8b8f49f761f8a9206a870e22c3b1859cd4f07bed
      - WORLD_ID=local
      - SERVER_PORT=3000
      - WORLDS_URL=https://raw.githubusercontent.com/pixelaw/config/refs/heads/main/web.config.json
      - PREVENT_EXIT=1
    ports:
      - "127.0.0.1:5050:5050"
      - "127.0.0.1:3000:3000"
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:9090:9090"
    restart: unless-stopped
    networks:
      - pixelaw
    volumes:
      - storage:/pixelaw/storage
      - log:/pixelaw/log
    # command: ["/bin/sh", "-c", "/pixelaw/scripts/startup.sh"]
networks:
  pixelaw:
    driver: bridge
volumes:
  storage:
  log:
