[package]
cairo-version = "=2.8.4"
name = "pixelaw_test_helpers"
version = "0.5.14"
homepage = "https://github.com/pixelaw/core"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.0.4" }
dojo_cairo_test = { git = "https://github.com/dojoengine/dojo", tag = "v1.0.4" }
starknet = "2.8.4"

[tool.fmt]
sort-module-level-items = true

[lib]

[[target.starknet-contract]]
sierra = true
build-external-contracts = ["dojo::world::world_contract::world"]


