[world]
description = "PixeLAW world"
name = "pixelaw"
seed = "pixelaw_075"

[world.socials]
x = "https://x.com/0xPixeLAW"
github = "https://github.com/pixelaw"


[namespace]
default = "pixelaw"
mappings = {}

[env]
keystore_path = "accounts/sepolia.deployer.keystore.json"
account_address = "0xbacdf8ccd3aa527cab838e5ea45e045dbb0e12e2da4434579df99d9233253b"
#world_address = "0x022b2a8f75422d28500cb40b8b8f49f761f8a9206a870e22c3b1859cd4f07bed"
#chain_id = "SN_SEPOLIA"
rpc_url = "https://api.cartridge.gg/x/starknet/sepolia" # or env: STARKNET_RPC_URL


[writers]
"pixelaw-App" = ["pixelaw-actions"]
"pixelaw-AppName" = ["pixelaw-actions"]
"pixelaw-AppUser" = ["pixelaw-actions"]
"pixelaw-CoreActionsAddress" = ["pixelaw-actions"]
"pixelaw-QueueScheduled" = ["pixelaw-actions"]
"pixelaw-Notification" = ["pixelaw-actions"]
"pixelaw-Pixel" = [
  "pixelaw-actions",
  "pixelaw-paint_actions",
  "pixelaw-snake_actions",
]
"pixelaw-QueueItem" = ["pixelaw-actions"]
"pixelaw-Snake" = ["pixelaw-actions", "pixelaw-snake_actions"]
"pixelaw-RTree" = ["pixelaw-actions"]
"pixelaw-Area" = ["pixelaw-actions"]
"pixelaw-SnakeSegment" = ["pixelaw-snake_actions"]
"pixelaw-Player" = ["pixelaw-player_actions"]
"pixelaw-PositionPlayer" = ["pixelaw-player_actions"]

[migration]
order_inits = [
  "pixelaw-actions",
  "pixelaw-snake_actions",
  "pixelaw-paint_actions",
  "pixelaw-player_actions",
]

[init_call_args]
"pixelaw-actions" = []
"pixelaw-snake_actions" = []
"pixelaw-paint_actions" = []
"pixelaw-player_actions" = []
