[world]
description = "Empty PixeLAW world"
name = "pixelaw"
seed = "pixelaw"

[namespace]
default = "pixelaw"
mappings = {}

[env]
#rpc_url = "https://katana.dev.pixelaw.xyz/"
rpc_url = "http://localhost:5050/"
account_address = "0x127fd5f1fe78a71f8bcd1fec63e3fe2f0486b6ecd5c86a0466c3a21fa5cfcec"
private_key = "0xc5b2fcab997346f3ea1c00b002ecf6f382c5f9c9659a3894eb783c5320f912"
world_address = "0x022b2a8f75422d28500cb40b8b8f49f761f8a9206a870e22c3b1859cd4f07bed"

[writers]
"pixelaw-App" = ["pixelaw-actions"]
"pixelaw-AppName" = ["pixelaw-actions"]
"pixelaw-AppUser" = ["pixelaw-actions"]
"pixelaw-CoreActionsAddress" = ["pixelaw-actions"]
"pixelaw-QueueScheduled" = ["pixelaw-actions"]
"pixelaw-Notification" = ["pixelaw-actions"]
"pixelaw-Pixel" = [
  "pixelaw-actions",
  "pixelaw-paint_actions",
  "pixelaw-snake_actions",
]
"pixelaw-QueueItem" = ["pixelaw-actions"]
"pixelaw-Snake" = ["pixelaw-actions", "pixelaw-snake_actions"]
"pixelaw-RTree" = ["pixelaw-actions"]
"pixelaw-Area" = ["pixelaw-actions"]
"pixelaw-SnakeSegment" = ["pixelaw-snake_actions"]
"pixelaw-Player" = ["pixelaw-player_actions"]
"pixelaw-PositionPlayer" = ["pixelaw-player_actions"]
"pixelaw-House" = ["pixelaw-house_actions"]
"pixelaw-PlayerHouse" = ["pixelaw-house_actions"]

[migration]
order_inits = [
  "pixelaw-actions",
  "pixelaw-snake_actions",
  "pixelaw-paint_actions",
  "pixelaw-player_actions",
  "pixelaw-house_actions",
]

[init_call_args]
"pixelaw-actions" = []
"pixelaw-snake_actions" = []
"pixelaw-paint_actions" = []
"pixelaw-player_actions" = []
"pixelaw-house_actions" = []
