[package]
cairo-version = "2.11.4"
name = "pixelaw"
version = "0.7.9"
homepage = "https://github.com/pixelaw/core"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.7.0-alpha.0" }
starknet = "2.11.4"

[dev-dependencies]
#cairo_test = "2.11.4"
#pixelaw_test_helpers = { path = "../test_helpers" }
#dojo_cairo_test = { git = "https://github.com/dojoengine/dojo", tag = "v1.7.0-alpha.0" }

[tool.fmt]
sort-module-level-items = true

[lib]

[[target.starknet-contract]]
sierra = true
build-external-contracts = ["dojo::world::world_contract::world"]
allowed-libfuncs-list.name = "experimental"

[features]
default = []

[profile.dev]
[profile.slot]
[profile.sepolia]
[profile.mainnet]
