[package]
cairo-version = "=2.7.0"
name = "pixelaw"
version = "0.3.50"
homepage = "https://github.com/pixelaw/core"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.0.0-alpha.11" }

[tool.fmt]
sort-module-level-items = true

[[target.dojo]]
build-external-contracts = []

[profile.dev-pop]

[profile.slot]

[profile.sepolia]
