[package]
cairo-version = "2.13.1"
name = "pixelaw"
version = "0.7.9"
homepage = "https://github.com/pixelaw/core"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = "=1.8.0"
starknet = "=2.13.1"

[dev-dependencies]
pixelaw_test_utils = { path = "../pixelaw_test_utils" }
cairo_test = "=2.13.1"
dojo_cairo_test = "=1.8.0"

[tool.scarb]
allow-prebuilt-plugins = ["dojo_cairo_macros"]

[tool.fmt]
sort-module-level-items = true

[lib]

[[target.starknet-contract]]
sierra = true
build-external-contracts = ["dojo::world::world_contract::world"]
allowed-libfuncs-list.name = "experimental"

[features]
default = []

[profile.dev]
[profile.slot]
[profile.sepolia]
[profile.mainnet]
