[package]
cairo-version = "2.12.2"
name = "pixelaw"
version = "0.7.9"
homepage = "https://github.com/pixelaw/core"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = "1.7.1"
starknet = "2.12.2"

[tool.scarb]
allow-prebuilt-plugins = ["dojo_cairo_macros"]

[tool.fmt]
sort-module-level-items = true

[lib]

[[target.starknet-contract]]
sierra = true
build-external-contracts = ["dojo::world::world_contract::world"]

[profile.slot]

[profile.sepolia]

[profile.mainnet]

[scripts]
init = "./scripts/init.sh"
paint = "./scripts/paint.sh"
paint_json = "./scripts/paint_json.sh"
populate = "./scripts/populate.sh"
