[package]
cairo-version = "=2.12.2"
name = "pixelaw_testing"
version = "0.7.9"
homepage = "https://github.com/pixelaw/core"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
pixelaw = { path = "../contracts" }
dojo = "1.7.1"
dojo_cairo_test = "1.7.1"
starknet = "2.12.2"
cairo_test = "=2.12.2"

[tool.scarb]
allow-prebuilt-plugins = ["dojo_cairo_macros"]


[[target.starknet-contract]]
build-external-contracts = [
  "dojo::world::world_contract::world",
  "pixelaw::core::models::pixel::m_Pixel",
  "pixelaw::core::models::area::m_Area",
  "pixelaw::core::models::queue::m_QueueItem",
  "pixelaw::core::models::registry::m_App",
  "pixelaw::core::models::registry::m_AppName",
  "pixelaw::core::models::registry::m_CoreActionsAddress",
  "pixelaw::core::models::area::m_RTree",
  "pixelaw::apps::player::m_Player",
  "pixelaw::apps::player::m_PositionPlayer",
  "pixelaw::apps::house::m_House",
  "pixelaw::apps::house::m_PlayerHouse",
  "pixelaw::apps::snake::m_Snake",
  "pixelaw::apps::snake::m_SnakeSegment",
  "pixelaw::core::events::e_QueueScheduled",
  "pixelaw::core::events::e_Notification",
  "pixelaw::core::actions::actions",
  "pixelaw::apps::paint::paint_actions",
  "pixelaw::apps::snake::snake_actions",
  "pixelaw::apps::player::player_actions",
  "pixelaw::apps::house::house_actions",
]


[lib]
