name: ci-contracts
runs-on: self-hosted
on:
  push:
    branches: [main]
    paths:
      - "contracts/**"
      - "test_helpers/**"
      - ".github/workflows/ci-contracts.yml"
  pull_request:
    branches: [main]
    paths:
      - "contracts/**"
      - "test_helpers/**"
      - ".github/workflows/ci-contracts.yml"

defaults:
  run:
    working-directory: .

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.80.1

jobs:
  cairofmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.8.4"
      - run: |
          cd contracts && scarb fmt --check
  core-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: asdf-vm/actions/setup@v3
      - run: |
          asdf plugin add dojo https://github.com/dojoengine/asdf-dojo
          asdf install dojo 1.0.6
          asdf global dojo 1.0.6
          cd contracts && sozo test
