name: ci-contracts

on:
  push:
    branches: [main]
    paths:
      - "contracts/**"
      - ".github/workflows/ci-contracts.yml"
  pull_request:
    branches: [main]
    paths:
      - "contracts/**"
      - ".github/workflows/ci-contracts.yml"

defaults:
  run:
    working-directory: .

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.80.1

jobs:
  cairofmt:
    runs-on: ubuntu-24-04
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.2"
      - run: |
          cd contracts && scarb fmt --check
  core-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.2"
      - uses: asdf-vm/actions/setup@v4
      - name: Install Dojo toolchain
        run: |
          curl -L https://install.dojoengine.org | bash
          asdf install
      - name: Run tests
        run: |
          cd contracts
          sozo build
          sozo test
